:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --white: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--violet);
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 62.5%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}
header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

/** card body **/
.card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.card img{
    width: 100%;
    max-width: 330px;
}
.card__body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.card__body-title{
    font-weight: 600;
    color: var(--white);
    font-family: 'Poppins', sans-serif; 
    font-size: 1.5rem;
}
.card__body-text{
    font-weight: 400;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.card__button{
    width: 250px;
    height: auto;
    padding: 1rem;
    background-color: var(--white);
    color: var(--violet);
    border: none;
    border-radius: 20px;
    box-shadow: 0 2px 3px 0 var(--soft-magenta);
}
.card__button:hover{
    background-color: var(--soft-magenta);
    color: var(--white);
}
/** Social Media **/
.social-icons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: var(--white);
    gap: 1rem;
    margin: 1rem 0;
}
.social-icons i{
    border-radius: 50%;
    border: 1px solid var(--white);
    padding: .7rem;
}

/** media query **/
@media(min-width:700px){
    body{
        background-image: url(./images/bg-desktop.svg);
        padding: 2rem;
    }
    .card{
        gap: 2rem;
        margin: 2rem;
        height: 350px;
        flex-direction: row;
    }
    .card img{
        margin: 0;
    }
    .card__body{
        text-align: justify;
    }
    .social-icons{
        align-self: flex-end;
    }
}